body {
  font-family: $font-main;
  background-color: $body-fon;
  color: $white;
  font-size: clamp(
    0.75rem,
    0.477rem + 1.36vw,
    1.5rem
  ); //font-size: min 12px - max 24px
}
.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-family: $font-accent;
  color: $accent;
  font-size: 50px;
  font-weight: 400;
}
.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;

  position: absolute;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  white-space: nowrap;
}
.active-link {
  color: $accent;
}
.block-bg {
  background: $fon-card-color;
  text-align: center;
  width: 314px;
  position: absolute;
  top: 419px;
  left: 33px;
}
